<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div th:fragment="mserver_fragment" id="mserver_ul" style="text-align: left; color: #007535;">
    <table id="mserver_table" class="display" cellspacing="0" width="100%" style="font-size: 11px; padding-left: 0; padding-top: 10px;">
        <thead>
            <tr>
                <th>Server</th>
                <th>State</th>
                <th>Health</th>
                <th>HeapSize</th>
                <th>HeapFree</th>
                <th>HeapFree(%)</th>
                <th>AppName</th>
                <th>AppState</th>
                <th>AppHealth</th>
                <th>Sessions</th>
                <th>数据源状态</th>
                <th>连接池容量</th>
                <th>活动连接</th>
                <th>泄露连接</th>
            </tr>
        </thead>
    </table>
</div>

</body>
</html>