<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>OSB上市生产系统日志下载工具</title>
    <link rel="stylesheet" th:href="@{css/bootstrap.min.3.3.0.css}" />
    <link rel="stylesheet" th:href="@{css/buttons.css}" />

    <style>
        div {
            font-family: "Microsoft YaHei UI", Arial;
            padding: 8px;
            text-align: center;
        }
        #zzkf {
            padding-left: 12%;
        }
        .button-small {
            font-size: 13px;
            height: 33px;
            line-height: 30px;
            padding: 0 30px;
        }
        h2 {
            text-align: center;
            padding-bottom: 20px;
        }
        #zhap5 {
            padding-top: 20px;
            text-align: center;
        }
    </style>
</head>
<body>
<div id="zzkf">
    <h2 class="col-sm-11 col-md-11 col-lg-11">HR自主开发系统日志下载工具</h2>
    <div class="row col-sm-11 col-md-11 col-lg-11">
        <a href="/download/10.30.41.80/ZHAP5_DOMAIN" class="button button-small button-raised button-primary button-pill">ZHAP5_DOMAIN.log</a>
        <a href="/download/10.30.41.81/ZHAP5_Srv001" class="button button-small button-raised button-primary button-pill">ZHAP5_Srv001.log</a>
        <a href="/download/10.30.41.81/ZHAP5_Srv002" class="button button-small button-raised button-primary button-pill">ZHAP5_Srv002.log</a>
        <a href="/download/10.30.41.82/ZHAP5_Srv011" class="button button-small button-raised button-primary button-pill">ZHAP5_Srv011.log</a>
    </div>
    <div class="row col-sm-11 col-md-11 col-lg-11">
        <a href="/download/10.30.41.82/ZHAP5_Srv012" class="button button-small button-raised button-primary button-pill">ZHAP5_Srv012.log</a>
        <a href="/download/10.30.41.79/ZHAP5_Srv021" class="button button-small button-raised button-primary button-pill">ZHAP5_Srv021.log</a>
        <a href="/download/10.30.41.79/ZHAP5_Srv022" class="button button-small button-raised button-primary button-pill">ZHAP5_Srv022.log</a>
        <a href="/download/10.30.41.78/ZHAP5_Srv031" class="button button-small button-raised button-primary button-pill">ZHAP5_Srv031.log</a>
    </div>
    <div class="row col-sm-11 col-md-11 col-lg-11">
        <a href="/download/10.30.41.78/ZHAP5_Srv032" class="button button-small button-raised button-primary button-pill">ZHAP5_Srv032.log</a>
        <a href="/download/10.30.41.69/ZHAP5_Srv041" class="button button-small button-raised button-primary button-pill">ZHAP5_Srv041.log</a>
        <a href="/download/10.30.41.69/ZHAP5_Srv042" class="button button-small button-raised button-primary button-pill">ZHAP5_Srv042.log</a>
        <a href="/download/10.30.41.68/ZHAP5_Srv051" class="button button-small button-raised button-primary button-pill">ZHAP5_Srv051.log</a>
    </div>
    <div class="row col-sm-11 col-md-11 col-lg-11">
        <a href="/download/10.30.41.68/ZHAP5_Srv052" class="button button-small button-raised button-primary button-pill">ZHAP5_Srv052.log</a>
        <a href="/download/10.30.41.67/ZHAP5_Srv061" class="button button-small button-raised button-primary button-pill">ZHAP5_Srv061.log</a>
        <a href="/download/10.30.41.67/ZHAP5_Srv062" class="button button-small button-raised button-primary button-pill">ZHAP5_Srv062.log</a>
        <a href="/download/10.30.41.66/ZHAP5_Srv071" class="button button-small button-raised button-primary button-pill">ZHAP5_Srv071.log</a>
    </div>
    <div class="row col-sm-11 col-md-11 col-lg-11">
        <a href="/download/10.30.41.66/ZHAP5_Srv072" class="button button-small button-raised button-primary button-pill">ZHAP5_Srv072.log</a>
        <a href="/download/10.30.41.101/ZHAP5_Srv081" class="button button-small button-raised button-primary button-pill">ZHAP5_Srv081.log</a>
        <a href="/download/10.30.41.101/ZHAP5_Srv082" class="button button-small button-raised button-primary button-pill">ZHAP5_Srv082.log</a>
    </div>
</div>
<div>

    <div id="zhap5" class="row col-sm-12 col-md-12 col-lg-12"></div>

</div>

<script type="text/javascript" th:src="@{js/jquery.min.1.11.2.js}"></script>
<script type="text/javascript" th:src="@{js/bootstrap.min.3.3.0.js}"></script>
<script type="text/javascript" th:src="@{js/highcharts.js}"></script>
<script type="text/javascript" th:src="@{js/hr_cpuinfo_line.js}"></script>

</body></html>