<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>OSB上市生产系统日志下载工具</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.3.3.0.css}" />
    <link rel="stylesheet" th:href="@{/css/buttons.css}" />

    <style>
        div {
            font-family: "Microsoft YaHei UI", Arial;
            padding: 8px;
            text-align: center;
        }
        .button-small {
            font-size: 12px;
            height: 30px;
            line-height: 30px;
            padding: 0 27px;
        }
        h2 {
            text-align: center;
            padding-bottom: 20px;
        }
        body {
            font-size: small;
            font-family: "Microsoft YaHei UI", Arial;
        }
    </style>
</head>
<body>
<div id="title" class="row col-sm-12 col-md-12 col-lg-12" style="padding-bottom: 0;">
    <div class=" col-sm-1 col-md-1 col-lg-1" style="padding-top: 1%; width: 11%;">
        <button class="btn btn-default" onclick="javascrtpt:window.location.href='/'"><span class="glyphicon glyphicon-arrow-left" style="color: rgba(68, 140, 202, 0.73);" aria-hidden="true"></span></button><a href="/"> 返回首页</a>
    </div>

    <h2 class="col-sm-10 col-md-10 col-lg-10">OSB上市系统日志下载工具</h2>
</div>

<div id="xoaps">
    <div class="row col-sm-12 col-md-12 col-lg-12">
        <a href="/download/xoaps/10.30.41.129/XOAPS_Srv001" class="button button-small button-raised button-primary button-pill">XOAPS_Srv001.log</a>
        <a href="/download/xoaps/10.30.41.129/XOAPS_Srv002" class="button button-small button-raised button-primary button-pill">XOAPS_Srv002.log</a>
        <a href="/download/xoaps/10.30.41.130/XOAPS_Srv011" class="button button-small button-raised button-primary button-pill">XOAPS_Srv011.log</a>
        <a href="/download/xoaps/10.30.41.130/XOAPS_Srv012" class="button button-small button-raised button-primary button-pill">XOAPS_Srv012.log</a>
        <a href="/download/xoaps/10.30.41.131/XOAPS_Srv021" class="button button-small button-raised button-primary button-pill">XOAPS_Srv021.log</a>
    </div>
    <div class="row col-sm-12 col-md-12 col-lg-12">
        <a href="/download/xoaps/10.30.41.131/XOAPS_Srv022" class="button button-small button-raised button-primary button-pill">XOAPS_Srv022.log</a>
        <a href="/download/xoaps/10.30.41.132/XOAPS_Srv031" class="button button-small button-raised button-primary button-pill">XOAPS_Srv031.log</a>
        <a href="/download/xoaps/10.30.41.132/XOAPS_Srv032" class="button button-small button-raised button-primary button-pill">XOAPS_Srv032.log</a>
        <a href="/download/xoaps/10.30.41.133/XOAPS_Srv041" class="button button-small button-raised button-primary button-pill">XOAPS_Srv041.log</a>
        <a href="/download/xoaps/10.30.41.133/XOAPS_Srv042" class="button button-small button-raised button-primary button-pill">XOAPS_Srv042.log</a>
    </div>
    <div class="row col-sm-12 col-md-12 col-lg-12">
        <a href="/download/xoaps/10.30.41.134/XOAPS_Srv051" class="button button-small button-raised button-primary button-pill">XOAPS_Srv051.log</a>
        <a href="/download/xoaps/10.30.41.134/XOAPS_Srv052" class="button button-small button-raised button-primary button-pill">XOAPS_Srv052.log</a>
        <a href="/download/xoaps/10.30.41.136/XOAPS_Srv061" class="button button-small button-raised button-primary button-pill">XOAPS_Srv061.log</a>
        <a href="/download/xoaps/10.30.41.136/XOAPS_Srv062" class="button button-small button-raised button-primary button-pill">XOAPS_Srv062.log</a>
        <a href="/download/xoaps/10.30.41.137/XOAPS_Srv071" class="button button-small button-raised button-primary button-pill">XOAPS_Srv071.log</a>
    </div>
    <div class="row col-sm-12 col-md-12 col-lg-12">
        <a href="/download/xoaps/10.30.41.137/XOAPS_Srv072" class="button button-small button-raised button-primary button-pill">XOAPS_Srv072.log</a>
        <a href="/download/xoaps/10.30.41.138/XOAPS_Srv081" class="button button-small button-raised button-primary button-pill">XOAPS_Srv081.log</a>
        <a href="/download/xoaps/10.30.41.138/XOAPS_Srv082" class="button button-small button-raised button-primary button-pill">XOAPS_Srv082.log</a>
        <a href="/download/xoaps/10.30.41.139/XOAPS_Srv091" class="button button-small button-raised button-primary button-pill">XOAPS_Srv091.log</a>
        <a href="/download/xoaps/10.30.41.139/XOAPS_Srv092" class="button button-small button-raised button-primary button-pill">XOAPS_Srv092.log</a>
    </div>
    <div class="row col-sm-12 col-md-12 col-lg-12">
        <a href="/download/xoaps/10.30.41.141/XOAPS_Srv091" class="button button-small button-raised button-primary button-pill">XOAPS_Srv101.log</a>
        <a href="/download/xoaps/10.30.41.141/XOAPS_Srv092" class="button button-small button-raised button-primary button-pill">XOAPS_Srv102.log</a>
        <a href="/download/xoaps/10.30.41.135/XOAPS_Srv111" class="button button-small button-raised button-primary button-pill">XOAPS_Srv111.log</a>
        <a href="/download/xoaps/10.30.41.135/XOAPS_Srv112" class="button button-small button-raised button-primary button-pill">XOAPS_Srv112.log</a>
    </div>
</div>
<div class="row col-sm-12 col-md-12 col-lg-12" style="text-align: left;">

    <!--<div id="xoaps_chart" class="col-md-6 col-lg-6"></div>-->
    <div id="xoaps_piechart" class="col-md-6 col-lg-6"></div>
    <div id="xoaps_barchart" class="col-md-6 col-lg-6"></div>

</div>

<script type="text/javascript" th:src="@{/js/jquery.min.1.11.2.js}"></script>
<script type="text/javascript" th:src="@{/js/bootstrap.min.3.3.0.js}"></script>
<script type="text/javascript" th:src="@{/js/highcharts.js}"></script>
<!--<script type="text/javascript" th:src="@{/js/xoaps_ringchart.js}"></script>-->
<script type="text/javascript" th:src="@{/js/xoaps_piechart.js}"></script>

</body></html>